<div class="page-header">
    <h1>Portfolio History</h1>
</div>
<div class="row">
    <div class="tableContainer">
        <form id="filters">
            <label for="start">Start</label>
            <input type="date" name="start" id="start">
            <label for="start">End</label>
            <input type="date" name="end" id="end">
            <label for="start">Portfolio ID</label>
            <input type="text" name="portfolioId" id="portfolioId">
            <button type="submit" value="Submit">Filter</button>
            <button id="all" value="all">Get All</button>
        </form>
        <table id="results_table">
            <thead>
                <tr>
                    <th>Portfolio</th>
                    <th>Leg 1</th>
                    <th>Leg 1 Settle</th>
                    <th>Leg 2</th>
                    <th>Leg 2 Settle</th>
                    <th>Product 1 Flux</th>
                    <th>Product 2 Flux</th>
                    <th>Spread Flux</th>
                    <th>Flux Extension</th>
                    <th>Margin Requirement</th>
                    <th>Margin Coverage</th>
                    <th>Settlement Date</th>
                </tr>
            </thead>
            <tbody id="results-body"></tbody>
            @*@foreach (var item in Model.HistoryList)
                {
                    <tr>
                        <td>@item.portfolio</td>
                        <td>@item.Leg1</td>
                        <td>@item.Leg1Settle</td>
                        <td>@item.Leg2</td>
                        <td>@item.Leg2Settle</td>
                        <td>@item.Leg1Flux</td>
                        <td>@item.Leg2Flux</td>
                        <td>@item.spreadFlux</td>
                        <td>@item.fluxExtension</td>
                        <td>@item.marginRequirement</td>
                        <td>@item.marginCoverage</td>
                        <td>@item.settlementDate</td>
                    </tr>
                }*@
        </table>
    </div>
</div>

