<div class="page-header">
    <h1>Enter Settlement Data</h1>
</div>
<div class="row">
    <div id="success" class="alert alert-success" role="alert" style="display: none;">Data Saved Successfully!</div>
    <div id="error" class="alert alert-danger" role="alert" style="display: none;">Error saving data</div>
</div>
<div class="row">
    <div class="col-sm-8 tableContainer">
        <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Portfolio</th>
                        <th>Leg</th>
                        <th>Expiration</th>
                        <th>Product</th>
                        <th>Settlements</th>
                        <th>Margin Requirement</th>
                        <th>Spread ID</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.SpreadList)
                {
                    <tr>
                        <td>@item.portfolioId</td>
                        <td>@item.leg</td>
                        <td>@item.expiration</td>
                        <td>@item.product</td>
                        <td><input type="number" class="settlement" name="settlement_@(item.spreadId)" /></td>
                        <td>@item.marginRequirement</td>
                        <td>@item.spreadId</td>
                    </tr>
                }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="1">
                            <button id="clearValues" class="btn btn-primary left">Clear Values</button>
                        </td>
                        <td colspan="6">
                            <button id="submitValues" class="btn btn-success right">Submit Values</button>
                        </td>
                    </tr>
                </tfoot>
        </table>
    </div>
</div>